name: Manual Deploy with Inputs
on:
  workflow_dispatch:     # Manual trigger button
    inputs:
      environment:
        description: 'Choose env'
        required: true
        default: 'staging'
        type: choice
        options: ['staging', 'prod']
      version:
        description: 'App version'
        required: true
        default: '1.0.0'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying ${{ github.event.inputs.version }} to ${{ github.event.inputs.environment }}"
