name: Simple Input Demo
on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Your name'
        default: 'DevOps Rohit'

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello ${{ inputs.name }}!"
