name: Test Python Versions
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.8, 3.9, 3.10]  # 3 Python versions
    
    steps:
      - run: python${{ matrix.python }} --version


