name: Matrix Demo

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [1, 2, 3]    # 3 parallel jobs
    
    steps:
      - run: echo "Testing version ${{ matrix.version }}"
