name: Simple Input
on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Your name?'

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello welcome to  ${{ github.event.inputs.name }}!"
