name: Deploy to EC2

on:
  push:
    branches: [ master ]          # or your target branch

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy over SSH
        env:
          PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          HOSTNAME: ${{ secrets.EC2_HOST }}
          USER_NAME: ${{ secrets.EC2_USER }}
        run: |
          cat << 'EOF' > private_key
          ${{ secrets.EC2_SSH_KEY }}
          EOF
          chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} "echo "webserver5" > /var/www/html/index.html"
